version: '3.8'
services:
  db:
    image: postgres:15
    container_name: wild_breeze_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wild_breeze
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
